/* title box start */
.titleBox.align-center{
  padding-block: 80px;

  text-align: center;
}
.titleBox mark{font-family: "Pretendard"; font-size: 20px; font-weight: 500; color: #E8DCC7; letter-spacing: 1px;}
.titleBox mark{
  display: block;

  background-color: transparent;
  
  margin-bottom: 14px;
}
.titleBox h2{font-family: "Pretendard"; font-size: 48px; font-weight: 500;}
.titleBox h2{
  margin-bottom: 20px;
}
.titleBox h2 b{font-weight: 600; color: #FBA518;}
.titleBox p{font-family: "Pretendard"; font-size: 24px; font-weight: 400;}

.titleBox.color-black h2{color: #333;}
.titleBox.color-black p{color: #555;}

.titleBox.color-white h2{color: #FFF;}
.titleBox.color-white p{color: #FFF;}
/* title box end */

@media screen and (max-width: 767px){
  .layout-padding{padding-inline: 4%;}
}
@media screen and (min-width: 768px) and (max-width: 1279px){
  .layout-padding{padding-inline: 4%;}
}
@media screen and (min-width: 1280px){
  .layout-padding{padding-inline: 8%;}
  .layout-max{max-width: 1620px; margin: 0 auto;}
}