body{background-color: #999;}

/* header start */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  position: fixed;
  left: 0; top: 0;
  box-sizing: border-box;
}
header{
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
header h1 a{
  display: block;
}
header h1 a img{
  width: 100%;
  display: block;
}
header nav ul{
  display: flex;
  gap: 48px;
}
header nav ul li{font-family: 'Pretendard'; font-size: 20px; font-weight: 500; color: #FFF;}
header button{
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
header button.material-symbols-outlined{font-size: 40px;}
header #menuPanel:not(.active){
  display: none;
}
header #menuPanel{
  background-color: #FFF;

  width: 80%;
  height: 100dvh;
  position: fixed;
  right: 0; top: 0;

  padding-inline: 4%;

  text-align: right;
}
header #menuPanel button{
  width: 40px;
  height: 64px;
  margin-block: 20px;
}
header #menuPanel ul{
  list-style: none;
  text-align: left;

  display: flex;
  gap: 32px;
  flex-direction: column;

  padding-block: 24px;
}
header #menuPanel ul li{font-family: 'Pretendard'; font-size: 24px; font-weight: 500; color: #333;}
/* header end */

/* section 01 start */
#home{
  background-color: tomato;

  height: 100dvh;

  display: flex;
  align-items: center;
}
#home>div{
  background-color: teal;
  
  width: 100%;
}
/* section 01 end */

@media screen and (max-width: 767px){
  /* header start */
  header{background-color: tan;}
  header{
    padding-block: 16px;
    padding-inline: 4%;
  }
  header h1{
    width: 50%;
    max-width: 280px;
  }
  header nav{display: none;}
  /* header end */
}
@media screen and (min-width: 768px) and (max-width: 1279px){
  /* header start */
  header{background-color: teal;}
  header{
    padding-block: 20px;
    padding-inline: 4%;
  }
  header h1{
    width: 30%;
    max-width: 280px;
  }
  header nav{display: none;}
  /* header end */
}
@media screen and (min-width: 1280px){
  /* header start */
  header{background-color: transparent;}
  header{
    padding-block: 28px;
  }
  header h1{
    width: 20%;
    max-width: 280px;
  }
  header .mui{display: none;}
  /* header end */
}